<div class="row">
	<div class="large-4 columns">Lists</div>
	<div class="large-8 columns">
		{{outlet}}
		<div class="left">
			<h3>Achievements</h3>	
		</div>
		<div class="right">
			{{#link-to 'achievements.new'}} <img src="/assets/plus.png" alt="">{{/link-to}}
		</div>
		<hr>
		<ul 
			{{#each}}
				{{#unless isDirty}}
				<li>
					<span>{{date achievedAt}}</span> 
					{{#link-to 'achievement' this}}{{title}}{{/link-to}}
				</li>
				{{/unless}}
			{{else}}
				<li>
					<h4>There are no achievements yet.</h4>
				</li>
			{{/each}}
		</ul>
	</div>
</div>